/* header */
.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header .inner-logo img {
  max-height: 50px;
  max-width: 100%;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header .inner-menu > ul > li {
  margin-left: 20px;
}
/* End header */

/* footer */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* End footer */

/* box head */
.box-head {
  margin-bottom: 30px;
}
.box-head .product-item {
  border: 10px solid #f4f4f4;
  padding: 15px;
}
.box-head .inner-title {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 600;
  color: green;
}
/* End box head */

/* product item */
.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
.product-item .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  border-bottom: 1px solid #ddd;
}
.product-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: corver;
}
.product-item .inner-content {
  padding: 15px;
}
.product-item .inner-content .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 18px;
}
.product-item .inner-content .inner-price-old {
  color: red;
  font-weight: 700;
  font-size: 16px;
  text-decoration: line-through;
}
.product-item .inner-content .inner-discount {
  background: red;
  border-radius: 10px;
  color: #fff;
  width: 60px;
  padding: 1px 10px;
  text-align: center;
}
/* End product item */
