mixin alert-success(time)
  - if (messages.success)
    .message.success
      div(
        class="alert alert-success" 
        show-alert
        alert-time=time
      ) #{messages.success} <span close-alert>x</span>